[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aprof"]
	path = aprof
	url = https://github.com/marcodvisser/aprof
[submodule "ccrtm"]
	path = ccrtm
	url = https://github.com/marcodvisser/ccrtm
